* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 10px 10px 13px;
  display: block;
}

.logo {
  width: 155px;
  margin-top: 10px;
}

.main {
  background-color: #3cdbc0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.title {
  text-transform: capitalize;
  word-spacing: 100vw;
  text-align: center;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .title {
    font-size: 40px;
  }
}
